


<header class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
     
      <%= link_to "MyRecipes", root_path, class: "btn btn-lg btn-info", id: "logo"%>
          <div class="nav_item">
            <%= link_to "Link 1", "", class: "btn btn-default btn-info active" %>
          </div>
          <div class="nav_item">
            <%= link_to "Link 1", "", class: "btn btn-default btn-info active" %>
          </div>
          <div class="nav_item">
            <%= link_to "Create a new Recipe",  new_recipe_path, class: "btn btn-default btn-info active" %>
          </div> 
  </div>
</header>
      
    



